.editor-left{
 flex-basis: 20%;
 min-width: 300px;
 height: 100vh;
 background: var(--background);
//  border: 2px solid crimson;
 overflow: hidden;
 cursor: pointer;
  .menu-bar{
    color: lightgray;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 9px 0 5px;
    select{
        cursor: pointer;
        background-color: inherit;
        margin-top: 5px;
        option{
         color: gray;
         background:var(--background);
        }
    }
  }
 .file-generate-bar{
    color:lightgray;
    font-weight: bold;
    display: flex;
    margin: 0px 1.5px;
    padding: 5px;
    justify-content: space-between;
    background-color: rgb(44, 44, 43);
    align-items: center;
    .generate-bar-right{
     visibility: hidden;   
     flex-basis: 45%;
     display: flex;
     justify-content: space-between;
    }
 }
 &:hover{
    .generate-bar-right{
      visibility: visible;
    }
 }
 .direct-div{
    height: 688px;
    padding-left: 5px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 12px;
        height: 8px;
    }
    &:hover{
        &::-webkit-scrollbar {
            width: 12px;
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
        }
    }

    .editor-folder-div{
        color: gray;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
        &:hover{
        color: #b0afaf;
        }
        .fold-togg{
            height:13px;
            width:14px;
        }
        .rota{
            transform: rotate(90deg);
        }

    }
    .act-sty{
    background-color: #451535;
    color: lightgray;
    }
    .fold-hov{
        &:hover{
        // background-color: #521e4145;
        background-color: var(--background-hover);
        }
     }
 } 
 
}

