@import "./Variables/index.scss";
@import "./EditorHeader/index.scss";
@import "./EditorLeft/index.scss";



.editor-container{
    // border:2px solid #6b225f;
    display: flex; 
    height: 100vh;
    .editor-body{
     width: 0px;
     flex-basis: 80%;
     height: 100vh;
     min-width: 300px;
    //  border:1px solid rgb(236, 54, 54);
    }   
}

